# Estadística para Ciencia de los Datos
# Tarea #4 - Semana #4

##Instrucciones
Realice los siguientes ejercicios y envíe sus respuestas, en un archivo PDF, a través de TEC Digital a más tardar el domingo 13 de octubre a las 10 PM. No se aceptarán entregas tardías.

Desarrolle todos los ejercicios con el mayor nivel de detalle posible. Se espera que el desarrollo algebraico sea formal. No será válido únicamente dar respuestas en prosa a las preguntas.

1. Los tiempos de servicio para los clientes que pasan por la caja en una tienda de venta al menudeo son variables aleatorias independientes con media de 1.5 minutos y varianza de 1.0 minutos por cliente. 

  Calcule la probabilidad de que 100 clientes puedan ser atendidos 2 horas o menos de tiempo total de servicio.



2. A partir del archivo 'MYOPIA', trabaje con las columnas AGE y COMPHR  y resuelva los siguientes enunciados. En el archivo 'MYOPIA_Code_Sheet' encontrará unas descripción de los datos contenidos en el dataset, considere esta descripción para la interpretación de sus resultados.

- Con la totalidad de los datos, calcule un intervalo de confianza al 95% para la columna AGE.
- Interprete los resultados del punto anterior.
- Ahora calcule el mismo intervalo al 95% de confianza solamente con los primeros **25 casos** del archivo de datos. 
- Explique que impacto tiene la disminución de la muestra sobre el intervalo de confianza.
- Con la totalidad de los datos, calcule un intervalo de confianza al 95% para la columna COMPHR.
- Interprete los resultados del punto anterior.
- Ahora calcule el mismo intervalo al 95% de confianza solamente con los primeros **100 casos** del archivo de datos. 
- Explique que impacto tiene la disminución de la muestra sobre el intervalo de confianza.


3. Evalue gráficamente y por medio de la prueba de Kolgomorov Smirnov la normalidad de las siguientes variables: COMPHR, SPORTHR y READHR. Explique detallamente que muestran los gráficos de histograma y qqplot sobre la normalidad de cada una de las variables.

In [0]:
#1)

In [0]:
import pandas as pd
import numpy as np

In [0]:
#2)
data= pd.read_csv("https://raw.githubusercontent.com/jpablofdez/DataScience/master/Estadistica/Tareas/Tarea4/MYOPIA.csv", sep=';')

In [6]:
data.head()

   ID  STUDYYEAR  MYOPIC  AGE  GENDER  ...  STUDYHR  TVHR  DIOPTERHR  MOMMY  DADMY
0   1       1992       1    6       1  ...        0    10         34      1      1
1   2       1995       0    6       1  ...        1     7         12      1      1
2   3       1991       0    6       1  ...        0    10         14      0      0
3   4       1990       1    6       1  ...        0     4         37      0      1
4   5       1995       0    5       0  ...        0     4          4      1      0

[5 rows x 18 columns]

In [0]:
age = data['AGE']
comphr = data['COMPHR']

In [9]:
age.describe()

count    618.000000
mean       6.299353
std        0.712950
min        5.000000
25%        6.000000
50%        6.000000
75%        6.000000
max        9.000000
Name: AGE, dtype: float64