## Tarea#1

## BigData

### Juan Pablo Fernández Deltado

### Pre-requisitos

- findspark
- pyspark
- spark

El set de datos a cargar va ser el del titanic, usando las mayoría de sus columnas.

El primer paso es cargar las librerías y el contenido de las funcionalidades de pyspark

In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import *
from datetime import datetime
from pyspark.sql.functions import col, date_format, udf 
from pyspark.sql.types import DateType

import findspark
findspark.init('C:\Spark')

spark=SparkSession.builder.appName('data_processing').getOrCreate()

Se carga el set de datos de titanic y sus columnas respectivas.

In [2]:
names_df = spark \
    .read \
    .format("csv") \
    .option("path", "titanic.csv") \
    .option("header", True) \
    .schema(StructType([
                StructField("PassengerId", IntegerType()),
                StructField("Survived", IntegerType()),
                StructField("Pclass", IntegerType()),
                StructField("Name", StringType()),
                StructField("Sex", StringType()),
    StructField("Age", IntegerType()),
    StructField("SibSp", IntegerType()),
    StructField("Parch", IntegerType()),
    StructField("Ticket", StringType()),
    StructField("Fare", IntegerType()),
    StructField("Cabin", StringType()),
                StructField("Embarked", StringType())])) \
    .load()

In [3]:
names_df.printSchema()
names_df.show()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: integer (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+----+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+----+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|null| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|null|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|null| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|null| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|null| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877|null| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|null|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909|null| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|null| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|null| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|null|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|null| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|null| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082|null| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406|null| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|  16| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652|null| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|  13| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|  18| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|null| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+----+-----+--------+
only showing top 20 rows

1) Se visualiza el esquema del DataFrame:

In [4]:
names_df.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: integer (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

2) Se visualiza el DataFrame:

In [5]:
names_df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+----+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+----+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|null| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|null|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|null| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|null| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|null| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877|null| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|null|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909|null| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|null| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|null| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|null|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|null| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|null| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082|null| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406|null| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|  16| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652|null| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|  13| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|  18| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|null| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+----+-----+--------+
only showing top 20 rows

3) Se muestra el DataFrame anterior pero esta vez con ceros en vez de null.

In [10]:
names_df.fillna('0').show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+----+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+----+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|null|    0|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|null|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|null|    0|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|null| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|null|    0|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877|null|    0|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|null|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909|null|    0|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|null|    0|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|null|    0|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|null|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|null| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|null|    0|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082|null|    0|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406|null|    0|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|  16|    0|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652|null|    0|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|  13|    0|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|  18|    0|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|null|    0|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+----+-----+--------+
only showing top 20 rows

Se rellenan los null con parámetros específicos por columna, de nuevo se muestran no se modifican:

4) Se descartan los que tengan algun valor null:

In [11]:
names_df.na.drop().show()

+-----------+--------+------+--------------------+------+---+-----+-----+------+----+-----------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|Ticket|Fare|      Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+-----+-----+------+----+-----------+--------+
|         22|       1|     2|Beesley, Mr. Lawr...|  male| 34|    0|    0|248698|  13|        D56|       S|
|         28|       0|     1|Fortune, Mr. Char...|  male| 19|    3|    2| 19950| 263|C23 C25 C27|       S|
|         89|       1|     1|Fortune, Miss. Ma...|female| 23|    3|    2| 19950| 263|C23 C25 C27|       S|
|        111|       0|     1|Porter, Mr. Walte...|  male| 47|    0|    0|110465|  52|       C110|       S|
|        184|       1|     2|Becker, Master. R...|  male|  1|    2|    1|230136|  39|         F4|       S|
|        194|       1|     2|Navratil, Master....|  male|  3|    1|    1|230080|  26|         F2|       S|
|        210|       1|     1|    Blank, Mr. Henry|  male| 40|    0|    0|112277|  31|        A31|       C|
|        225|       1|     1|Hoyt, Mr. Frederi...|  male| 38|    1|    0| 19943|  90|        C93|       S|
|        246|       0|     1|Minahan, Dr. Will...|  male| 44|    2|    0| 19928|  90|        C78|       Q|
|        264|       0|     1|Harrison, Mr. Wil...|  male| 40|    0|    0|112059|   0|        B94|       S|
|        328|       1|     2|Ball, Mrs. (Ada E...|female| 36|    0|    0| 28551|  13|          D|       S|
|        341|       1|     2|Navratil, Master....|  male|  2|    1|    1|230080|  26|         F2|       S|
|        342|       1|     1|Fortune, Miss. Al...|female| 24|    3|    2| 19950| 263|C23 C25 C27|       S|
|        346|       1|     2|"Brown, Miss. Ame...|female| 24|    0|    0|248733|  13|        F33|       S|
|        357|       1|     1|Bowerman, Miss. E...|female| 22|    0|    1|113505|  55|        E33|       S|
|        391|       1|     1|Carter, Mr. Willi...|  male| 36|    1|    2|113760| 120|    B96 B98|       S|
|        413|       1|     1|Minahan, Miss. Da...|female| 33|    1|    0| 19928|  90|        C78|       Q|
|        436|       1|     1|Carter, Miss. Luc...|female| 14|    1|    2|113760| 120|    B96 B98|       S|
|        439|       0|     1|   Fortune, Mr. Mark|  male| 64|    1|    4| 19950| 263|C23 C25 C27|       S|
|        487|       1|     1|Hoyt, Mrs. Freder...|female| 35|    1|    0| 19943|  90|        C93|       S|
+-----------+--------+------+--------------------+------+---+-----+-----+------+----+-----------+--------+
only showing top 20 rows

5) Se descartan los que tengan algun valor null en names_df:

In [6]:
names_df.na.drop(subset='Age').show()

+-----------+--------+------+--------------------+------+---+-----+-----+----------------+----+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|          Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+----+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male| 22|    1|    0|       A/5 21171|null| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0|        PC 17599|null|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female| 26|    0|    0|STON/O2. 3101282|null| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female| 35|    1|    0|          113803|null| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male| 35|    0|    0|          373450|null| null|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male| 54|    0|    0|           17463|null|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|  2|    3|    1|          349909|null| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female| 27|    0|    2|          347742|null| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female| 14|    1|    0|          237736|null| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|  4|    1|    1|         PP 9549|null|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female| 58|    0|    0|          113783|null| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male| 20|    0|    0|       A/5. 2151|null| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male| 39|    1|    5|          347082|null| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female| 14|    0|    0|          350406|null| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female| 55|    0|    0|          248706|  16| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|  2|    4|    1|          382652|null| null|       Q|
|         19|       0|     3|Vander Planke, Mr...|female| 31|    1|    0|          345763|  18| null|       S|
|         21|       0|     2|Fynney, Mr. Joseph J|  male| 35|    0|    0|          239865|  26| null|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male| 34|    0|    0|          248698|  13|  D56|       S|
|         23|       1|     3|"McGowan, Miss. A...|female| 15|    0|    0|          330923|null| null|       Q|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+----+-----+--------+
only showing top 20 rows

Se pueden reemplazar valores por otros...

In [20]:
names_df.replace("Mr.","MR.").show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+----+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+----+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|null| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|null|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|null| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|null| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|null| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877|null| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|null|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909|null| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|null| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|null| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|null|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|null| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|null| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082|null| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406|null| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|  16| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652|null| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|  13| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|  18| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|null| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+----+-----+--------+
only showing top 20 rows

Se pueden descartar columnas completas:

In [11]:
names_df.drop('Cabin').show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|Fare|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|null|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|null|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877|null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|null|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909|null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|null|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|null|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082|null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406|null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|  16|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652|null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|  13|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|  18|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+----+--------+
only showing top 20 rows

Se analizan los datos:

In [12]:
names_df.count()

891

In [13]:
len(names_df.columns)

12

In [14]:
names_df.show(3)

+-----------+--------+------+--------------------+------+---+-----+-----+----------------+----+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|          Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+----+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male| 22|    1|    0|       A/5 21171|null| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0|        PC 17599|null|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female| 26|    0|    0|STON/O2. 3101282|null| null|       S|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+----+-----+--------+
only showing top 3 rows

In [15]:
names_df.summary().show()

+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|summary|      PassengerId|           Survived|            Pclass|                Name|   Sex|               Age|             SibSp|              Parch|            Ticket|             Fare|Cabin|Embarked|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|  count|              891|                891|               891|                 891|   891|               689|               891|                891|               891|              161|  204|     889|
|   mean|            446.0| 0.3838383838383838| 2.308641975308642|                null|  null|29.847605224963715|0.5230078563411896|0.38159371492704824|260318.54916792738|33.47204968944099| null|    null|
| stddev|257.3538420152301|0.48659245426485753|0.8360712409770491|                null|  null|14.317668714749662|1.1027434322934315| 0.8060572211299488|471609.26868834975|43.98509152425986| null|    null|
|    min|                1|                  0|                 1|"Andersson, Mr. A...|female|                 1|                 0|                  0|            110152|                0|  A10|       C|
|    25%|              223|                  0|                 2|                null|  null|                21|                 0|                  0|           19996.0|               13| null|    null|
|    50%|              446|                  0|                 3|                null|  null|                28|                 0|                  0|          236171.0|               26| null|    null|
|    75%|              669|                  1|                 3|                null|  null|                38|                 1|                  0|          347743.0|               31| null|    null|
|    max|              891|                  1|                 3|van Melkebeke, Mr...|  male|                80|                 8|                  6|         WE/P 5735|              263|    T|       S|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+

Mostrar solo unas columnas y filas:

In [16]:
names_df.select(['Survived','Name','Age']).show()

+--------+--------------------+----+
|Survived|                Name| Age|
+--------+--------------------+----+
|       0|Braund, Mr. Owen ...|  22|
|       1|Cumings, Mrs. Joh...|  38|
|       1|Heikkinen, Miss. ...|  26|
|       1|Futrelle, Mrs. Ja...|  35|
|       0|Allen, Mr. Willia...|  35|
|       0|    Moran, Mr. James|null|
|       0|McCarthy, Mr. Tim...|  54|
|       0|Palsson, Master. ...|   2|
|       1|Johnson, Mrs. Osc...|  27|
|       1|Nasser, Mrs. Nich...|  14|
|       1|Sandstrom, Miss. ...|   4|
|       1|Bonnell, Miss. El...|  58|
|       0|Saundercock, Mr. ...|  20|
|       0|Andersson, Mr. An...|  39|
|       0|Vestrom, Miss. Hu...|  14|
|       1|Hewlett, Mrs. (Ma...|  55|
|       0|Rice, Master. Eugene|   2|
|       1|Williams, Mr. Cha...|null|
|       0|Vander Planke, Mr...|  31|
|       1|Masselmani, Mrs. ...|null|
+--------+--------------------+----+
only showing top 20 rows

Mostrar solo ciertos datos a partir de un criterio:

In [17]:
names_df.filter(names_df['Age'] > 50).count()

62

In [18]:
names_df.filter(names_df['Age'] > 50).show()

+-----------+--------+------+--------------------+------+---+-----+-----+-----------+----+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|     Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+-----+-----+-----------+----+-----+--------+
|          7|       0|     1|McCarthy, Mr. Tim...|  male| 54|    0|    0|      17463|null|  E46|       S|
|         12|       1|     1|Bonnell, Miss. El...|female| 58|    0|    0|     113783|null| C103|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female| 55|    0|    0|     248706|  16| null|       S|
|         34|       0|     2|Wheadon, Mr. Edwa...|  male| 66|    0|    0| C.A. 24579|null| null|       S|
|         55|       0|     1|Ostby, Mr. Engelh...|  male| 65|    0|    1|     113509|null|  B30|       C|
|         95|       0|     3|   Coxon, Mr. Daniel|  male| 59|    0|    0|     364500|null| null|       S|
|         97|       0|     1|Goldschmidt, Mr. ...|  male| 71|    0|    0|   PC 17754|null|   A5|       C|
|        125|       0|     1|White, Mr. Perciv...|  male| 54|    0|    1|      35281|null|  D26|       S|
|        151|       0|     2|Bateman, Rev. Rob...|  male| 51|    0|    0|S.O.P. 1166|null| null|       S|
|        156|       0|     1|Williams, Mr. Cha...|  male| 51|    0|    1|   PC 17597|null| null|       C|
|        171|       0|     1|Van der hoef, Mr....|  male| 61|    0|    0|     111240|null|  B19|       S|
|        175|       0|     1|Smith, Mr. James ...|  male| 56|    0|    0|      17764|null|   A7|       C|
|        196|       1|     1|Lurette, Miss. Elise|female| 58|    0|    0|   PC 17569|null|  B80|       C|
|        223|       0|     3|Green, Mr. George...|  male| 51|    0|    0|      21440|null| null|       S|
|        233|       0|     2|Sjostedt, Mr. Ern...|  male| 59|    0|    0|     237442|null| null|       S|
|        250|       0|     2|Carter, Rev. Erne...|  male| 54|    1|    0|     244252|  26| null|       S|
|        253|       0|     1|Stead, Mr. Willia...|  male| 62|    0|    0|     113514|null|  C87|       S|
|        263|       0|     1|   Taussig, Mr. Emil|  male| 52|    1|    1|     110413|null|  E67|       S|
|        269|       1|     1|Graham, Mrs. Will...|female| 58|    0|    1|   PC 17582|null| C125|       S|
|        276|       1|     1|Andrews, Miss. Ko...|female| 63|    1|    0|      13502|null|   D7|       S|
+-----------+--------+------+--------------------+------+---+-----+-----+-----------+----+-----+--------+
only showing top 20 rows

Se puede saber cuantos datos hay de una caterogira especifica:

In [24]:
names_df.groupBy('Age').count().show()

+---+-----+
|Age|count|
+---+-----+
| 22|   27|
| 38|   11|
| 26|   18|
| 35|   18|
| 54|    8|
|  2|   10|
| 27|   18|
| 14|    6|
|  4|   10|
| 58|    5|
| 20|   15|
| 39|   14|
| 55|    2|
| 31|   17|
| 34|   15|
| 15|    5|
| 28|   25|
|  8|    4|
| 19|   25|
| 40|   13|
+---+-----+
only showing top 20 rows

También puedo mostrar los datos un orden ascendente o decendente

In [19]:
names_df.sort("Age").show()

+-----------+--------+------+--------------------+------+----+-----+-----+---------------+----+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|         Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+---------------+----+-----+--------+
|         37|       1|     3|    Mamee, Mr. Hanna|  male|null|    0|    0|           2677|null| null|       C|
|         79|       1|     2|Caldwell, Master....|  male|null|    0|    2|         248738|  29| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|         330877|null| null|       Q|
|         46|       0|     3|Rogers, Mr. Willi...|  male|null|    0|    0|S.C./A.4. 23567|null| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|           2649|null| null|       C|
|         43|       0|     3| Kraeff, Mr. Theodor|  male|null|    0|    0|         349253|null| null|       C|
|         27|       0|     3|Emir, Mr. Farred ...|  male|null|    0|    0|           2631|null| null|       C|
|         29|       1|     3|"O'Dwyer, Miss. E...|female|null|    0|    0|         330959|null| null|       Q|
|         30|       0|     3| Todoroff, Mr. Lalio|  male|null|    0|    0|         349216|null| null|       S|
|         32|       1|     1|Spencer, Mrs. Wil...|female|null|    1|    0|       PC 17569|null|  B78|       C|
|         33|       1|     3|Glynn, Miss. Mary...|female|null|    0|    0|         335677|null| null|       Q|
|         78|       0|     3|Moutal, Mr. Raham...|  male|null|    0|    0|         374746|null| null|       S|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|         244373|  13| null|       S|
|         47|       0|     3|   Lennon, Mr. Denis|  male|null|    1|    0|         370371|null| null|       Q|
|         48|       1|     3|O'Driscoll, Miss....|female|null|    0|    0|          14311|null| null|       Q|
|         49|       0|     3| Samaan, Mr. Youssef|  male|null|    2|    0|           2662|null| null|       C|
|         56|       1|     1|   Woolner, Mr. Hugh|  male|null|    0|    0|          19947|null|  C52|       S|
|         58|       0|     3| Novel, Mr. Mansouer|  male|null|    0|    0|           2697|null| null|       C|
|         65|       0|     1|Stewart, Mr. Albe...|  male|null|    0|    0|       PC 17605|null| null|       C|
|         66|       1|     3|Moubarek, Master....|  male|null|    1|    1|           2661|null| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+---------------+----+-----+--------+
only showing top 20 rows